{% extends 'layout.twig' %}

{% block contents %}
  <div class="page-header">
    <h2>ページ&nbsp;編集</h2>
  </div>
  {% include 'shared/validate.twig' %}
  <form method="post">
    {% include 'pages/_form.twig' %}
  </form>
{% endblock %}