<div class="list-group">
  <a href="#" class="list-group-item disabled">
    ページ管理
  </a>
  <a href="{{ app.request.baseUrl ~ '/pages/index'}}" class="list-group-item">一覧</a>
  <a href="{{ app.request.baseUrl ~ '/pages/create'}}" class="list-group-item">追加</a>
</div>