{% extends 'layout.twig' %}

{% block contents %}
  <h2>ページ追加</h2>
  <form method="post">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th>ファイル名</th>
        <td>
          <input type="text" name="name" id="name" placeholder="document" class="form-control"/>
          <small class="text-danger">半角英字ハイフンのみ</small>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
{% endblock %}